/* /public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf */
@font-face {
  font-family: "roboto-mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "roboto-mono", monospace;
  background: rgb(17 24 39);
  color: #efefef;
}

a:link,
a:visited {
  text-decoration: underline;
  color: cyan;
}

::-webkit-scrollbar {
  display: none;
}

.canScrollDown {
  animation: canScrollDown 1s ease-in-out 0s infinite;
  position: relative;
}

.shade {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

@keyframes canScrollDown {
  0%,
  80% {
    top: 0px;
  }
  40% {
    top: -6px;
  }
}
