/* /public/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf */
@font-face {
  font-family: "roboto-mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "roboto-mono", monospace;
  background: rgb(17 24 39);
  color: #efefef;
}

a:link {
  text-decoration: underline;
  color: cyan;
}
